@page
@model ProfilesettingsModel
@inject IHttpContextAccessor httpContextAccessor
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@using Microsoft.Data.SqlClient;
@inject AppDbContext db
@Html.Partial("_header");
@{
    Layout = null;
    var context = httpContextAccessor.HttpContext;
    string email = context.Session.GetString("email");
    string password = context.Session.GetString("password");
    var user = db.Users.FirstOrDefault(u => u.Email == email);
    var name = "";
    var fullname = "";
    var phone = "";
    var updated = "";
    var profile_image = "";

    if (!string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(password) && user != null)
    {
        var user_id = user.Id;
        ViewBag.User_Id = user_id;
        var status = user.Status;
        var code = user.Code;
        var profileImage = user.ProfileImage;
        name = user.Username;
        fullname = user.FullName;
        phone = user.Phone;
        status = user.Status;
        code = user.Code;
        updated = user.UpdatedAt.ToString();
        profile_image = user.ProfileImage;
    }
    else
    {
        RedirectToLoginPage();
        return;
    }
    async Task RedirectToLoginPage()
    {
        var httpResponse = httpContextAccessor.HttpContext.Response;
        httpResponse.Redirect("/Login");
        await httpResponse.CompleteAsync();
    }
}
}

<section>
    <div class="page_banner bg_cover" style="background-image: url(assets/images/page-banner.jpg)">
        <div class="container">
            <div class="page_banner_content">
                <h3 class="title">Profile Settings</h3>
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Profile Settings</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="profile-settings_page pt-70 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="sidebar_profile mt-50">
                    <div class="profile_user">
                        <div class="user_author d-flex align-items-center">
                            <div class="author"> <img src="profile_images/@profile_image" alt=""> </div>
                            <div class="user_content media-body">
                                <h6 class="author_name">User</h6>
                                <p>@name</p>
                            </div>
                        </div>
                        <div class="user_list">
                            <ul>
                                <li><a href="dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                <li><a class="active" asp-page="Profilesettings"><i class="fas fa-cog"></i> Profile Settings</a></li>
                                <li><a asp-page="FavoriteAds"><i class="fas fa-heart"></i> My Favourites</a></li>
                                <li><a href="logout"><i class="fas fa-door-open"></i> Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="post_form mt-50">
                    <div class="post_title">
                        <h5 class="title">Profile Settings</h5>
                    </div>
                    <br />
                    <p>Updated at: @updated</p>
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input type="text" maxlength="30" asp-for="Username" placeholder="Username" required value="@name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input type="text" maxlength="50" asp-for="Name" placeholder="Full Name" value="@fullname" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input type="email" asp-for="Email" placeholder="Email Address" required value="@email" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input type="text" maxlength="15" asp-for="Phone" placeholder="Phone Number" value="@phone" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input type="password" asp-for="Password" placeholder="Password" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Confirm password" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <div class="post_upload_file">
                                        <label for="upload">
                                            <span>Select file for profile image</span>
                                            <span></span>
                                            <span class="main-btn">Select Files</span>
                                            <span>Maximum upload file size: 500 KB</span>
                                            <input type="file" asp-for="File" id="upload" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_form">
                                    <button class="main-btn" type="submit" name="update" value="Update">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_Footer");